# Exclude the following directories for Languages statistics

data/* linguist-vendored
model/* linguist-vendored
out/* linguist-vendored

ktrain/img/* linguist-vendored
ktrain/model/* linguist-vendored
ktrain/out/* linguist-vendored