# Exclude the following directories for Languages statistics

data/* linguist-vendored
model/* linguist-vendored
out/* linguist-vendored

ktrain_model/img/* linguist-vendored
ktrain_model/model/* linguist-vendored
ktrain_model/out/* linguist-vendored